<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>TODO list</title>
</head>
<body>
<div class="container-fluid p-0">
    <div class="container">
        <header th:insert="blocks/header :: header"></header>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Задание</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Выполнено</th>
                    <th scope="col">Приоритет</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task: ${tasks}">
                    <td><a th:text="${task.title}" th:href="@{/tasks/{taskId}(taskId=${task.id})}"></a></td>
                    <td th:text="${task.user.name}"/>
                    <td th:text="${task.created}"/>
                    <td>
                    <span th:if="${task.done}">
                        <i class="bi bi-check-square"></i>
                    </span>
                        <span th:if="${!task.done}">
                        <i class="bi bi-square"></i>
                    </span>
                    </td>
                    <td th:text="${task.priority.name}"/>
                </tr>
                <tr>
                    <th><a th:href="@{/}">Все</a></th>
                    <th><a th:href="@{/tasks/done}">Выполненые</a></th>
                    <th><a th:href="@{/tasks/new}">Новые</a></th>
                </tr>
                <tr>
                    <td>
                        <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/tasks/create}">Добавить задание</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>